.price {
    overflow: hidden;
    margin-bottom: 40px;

    &__wrapper {
        border-bottom: 1px solid #EFEFEF;
    }

    &__link-wrapper {
        display: flex;
        margin-bottom: 40px;
    }

    &__link {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        color: $black-text;
        padding-right: 40px;
        margin-right: 13px;

        &::before {
            position: absolute;
            top: 9px;
            right: 9px;
            content: "";
            display: block;
            width: 6px;
            height: 1px;
            background: #000;
            background-repeat: no-repeat;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            top: 13px;
            right: 9px;
            content: "";
            display: block;
            width: 6px;
            height: 1px;
            background: #000;
            background-repeat: no-repeat;
            transform: rotate(135deg);
        }
    }

    &__active-page {
        font-size: 14px;
        line-height: 22px;
        color: #A6A6A8;
    }

    &__title {
        @include title;
        margin-bottom: 40px;
    }

    &__description {
        width: 760px;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 59px;
    }

    &__photo-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 40px;
        padding-bottom: 100px;
    }

    &__photo-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 232px;
        flex-shrink: 0;
        border-radius: 4px;
    }

    /*---------------------modal-image---------------------*/
    #lightbox {
        position: fixed; z-index: 2;
        top: 0; left: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity ease 0.4s;
      }
       
      #lightbox.show {
        visibility: visible;
        opacity: 1;
      }
       
      #lightbox img {
        width: 960px;
        height: 618px;
        object-fit: cover;
      }
}
