.category {
    overflow: hidden;
    margin-bottom: 29px;

    &__link-wrapper {
        display: flex;
        margin-bottom: 40px;
    }

    &__title {
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        color: $black-text;
        margin-bottom: 40px;
    }

    &__description {
        width: 760px;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 39px;
    }

    &__price {
        margin-bottom: 80px;
    }

    &__filter-block {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 58px;
    }

    &__filter-button {
        position: relative;
        display: block;
        padding: 10px 10px 10px 29px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: $black-text;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 48px;

        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("../img/category/sorting.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__filter-link {
        position: relative;
        display: block;
        padding: 10px 10px 10px 29px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: $black-text;
        text-transform: uppercase;
        letter-spacing: 1px;

        &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("../img/category/filter.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__tabs {
        display: flex;
        justify-content: flex-start;
        color: #44454B;
        text-align: center;
        margin-bottom: 60px;
    }   
        
    &__tabs-item {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        background: #F2F3F5;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 9px;
        }
        
        &.active {
            background: #090A12;
            color: $white;
        }
    }
    
    &__content {
        margin-bottom: 40px;
    }

    &__content-item {
        position: absolute;
        display: none;
        gap: 40px;
        
        &.active {
            position: relative;
            display: flex;
            flex-flow: row wrap;
        }
    }

    &__products-list,
    &__order-list,
    &__storage__list,
    &__payment__list {
        display: flex;
        flex-flow: row wrap;
        gap: 37px 40px;
    }

    &__inspiration {
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 360px;
        background: #C4D1D0;
        border-radius: 20px;
    }

    &__inspiration-wrapper {
        padding: 8px 42px 15px 42px;
    }

    &__inspiration-title {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 24px;
        color: $black-text;
    }

    &__inspiration-text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 23px;
    }

    &__inspiration-link {
        position: relative;
        padding: 5px 30px 5px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #44454B;

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            content: "";
            width: 20px;
            height: 10px;
            background-image: url("../img/category/arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__inspiration-image {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 432px;
        height: 250px;
        background-position: 10px 10px;

        img {
            width: 100%;
            height: 250px;
        }
    }

    &__show-more-button {
        display: block;
        width: 360px;
        padding: 15px 5px;
        margin: 0 auto;
        text-align: center;
        background: #F2F3F5;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: $black-text;
        margin-bottom: 40px;
    }

    /*----------------------------------------------------*/
    &__info-block {
        width: 760px;
    }

    &__visible-text {
        font-size: 16px;
        line-height: 26px;
    }

    &__hidden-content,
    &__hidden-text {
        display: none;
        overflow: hidden;
        position: relative;
        font-size: 16px;
        line-height: 26px;
    }

    &__read-more-checker,
    &__read-more-text {
        opacity: 0;
        position: absolute;
    }

    &__read-more-checker:checked ~ .category__hidden-content {
        display: flex;
    }

    &__read-more-checker ~ .category__read-more-button:before {
        content: 'Ещё >';
        font-size: 16px;
        line-height: 26px;
    }

    &__read-more-checker:checked ~ .category__read-more-button:before {
        content: 'Скрыть <';
        font-size: 16px;
        line-height: 26px;
    }

    &__read-more-button {
        cursor: pointer;
        display: block;
        color: #898D96;
        border: none;
    }

    &__read-more-text {
        color: #4269F5;
    }

    &__read-more-text-button {
        cursor: pointer;
        display: block;
        color: #4269F5;
        border: none;
        text-decoration: underline;
    }
}