.card {
    overflow: hidden;
    width: 360px;
    border-radius: 20px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08);

    &__image {
        position: relative;
        overflow:hidden;
        width: 100%;
        height: 240px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EFEFEF;
        

        img {
            display: block;
            transition: 0.5s;

            &:hover {
                transform: scale(1.7);
            }
        }
        
    }

    &__link-wrapper {
        position: absolute;
        top: 24px;
        left: 25px;
        display: flex;
        flex-flow: row nowrap;
    }

    &__best-sell {
        display: block;
        padding: 4px 12px;
        background: #66DBBD;
        border-radius: 8px;
        font-size: 14px;
        line-height: 22px;
        color: $white;
        margin-right: 10px;
        cursor: default;
    }

    &__cam-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 30px;
        background: #EFEFEF;
        border-radius: 8px;
        background-image: url("../img/category/card/cam.svg");
        background-size: 22px 22px;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.08);

        &:hover {
            opacity: 1;
        }
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 24px;
    }

    &__available-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    &__available {
        position: relative;
        display: block;
        padding: 5px 10px 5px 27px;
        background: #EFEFEF;
        border-radius: 8px;
        font-size: 14px;
        line-height: 22px;
        color: $gray-text;
        margin-right: 10px;
        cursor: default;

        &::before {
            position: absolute;
            top: 10px;
            left: 11px;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background: #13ae5c;
            border-radius: 50%;
        }
    }

    &__quantity {
        display: block;
        padding: 5px 10px;
        background: #EFEFEF;
        border-radius: 8px;
        font-size: 14px;
        line-height: 22px;
        color: $gray-text;
        cursor: default;
    }

    &__text-block {
        margin-bottom: 19px;
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 16px;
        line-height: 26px;
        color: $black-text;
        margin-bottom: 13px;
        height: 78px;
        overflow: hidden;
    }

    &__price {
        font-size: 14px;
        line-height: 22px;
        color: #898D96;

        span {
            font-weight: 800;
            font-size: 20px;
            line-height: 28px;
            color: $black-text;
        }
    }

    &__button-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    &__basket-link {
        display: inline-flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: #F2F3F5;
        border-radius: 8px;
        background-image: url("../img/category/card/basket.svg");
        background-size: 24px 28px;
        background-position: 13px 10px;
        background-repeat: no-repeat;
        margin-right: 17px;
    }

    &__instant-buy {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 5px;
        text-align: center;
        background: rgba(43, 88, 250, 0.1);
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #4269F5;
        transition: all 200ms ease;

        &:hover {
            opacity: 0.8;
        }
    }

    /*------------modal-----------------*/
    &__modal {
        position: relative;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 35%;
        position: fixed;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;

        &__content {
            position: absolute;
            top: 227px;
            top: 0;
            left: 682px;
            display: flex;
            flex-flow: column nowrap;
            width: 540px;
            //height: 624px;
            padding: 40px;
            border: none;
            border-radius: 12px;
            background: $white;
            cursor: default;
        }

        &__title {
            font-weight: 800;
            font-size: 28px;
            line-height: 36px;
            margin: 0 0 24px 0;
        }

        &__product-info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            margin-bottom: 24px;
        }

        &__product-image {
            overflow: hidden;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border-radius: 4px;
            margin-right: 24px;
        }

        &__product-article {
            font-size: 14px;
            line-height: 22px;
            color: #898D96;
            margin-bottom: 8px;
        }

        &__product-description-text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 16px;
            line-height: 26px;
            color: $black-text;
        }

        &__button-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__close {
            position: absolute;
            top: 15px;
            right: 16px;
            display: block;
            width: 24px;
            height: 24px;
            border: none;
            background: transparent;
            cursor: pointer;
            transition: all 200ms ease;

            &::before {
                position: absolute;
                top: 12px;
                left: 3px;
                content: "";
                display: block;
                width: 17px;
                height: 2px;
                background: $black-text;
                transform: rotate(45deg);
            }

            &::after {
                position: absolute;
                top: 12px;
                right: 4px;
                content: "";
                display: block;
                width: 17px;
                height: 2px;
                background: $black-text;
                transform: rotate(135deg);
            }

            &:hover {
                opacity: 0.8;
                transition: all 200ms ease;
            }
        }

        &__select-field {
            margin-bottom: 16px;
        }

        .select-field,
        .diameter-field {
            position: relative;
            width: 100%;
            border-radius: 8px;
            padding: 11px 20px;
            background: #F2F3F5;
            font-size: 16px;
            line-height: 26px;
            color: $black-text;
            cursor: pointer;

            &:hover {
                box-shadow:0px 1px 0px #898d9661,0px -1px 0px #898d9661,1px 0px 0px #898d9661,-1px 0px 0px #898d9661;
            }

            &__list {
                position: absolute;
                top: 40px;
                left: 0;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                width: 100%;
                border-radius: 8px;
                padding: 11px 20px;
                background: #F2F3F5;
                font-size: 16px;
                line-height: 26px;
                color: $black-text;
            }

            &__item {
                padding: 11px 20px 11px 1px;
            }
        }

        .diameter-field {
            margin-bottom: 16px;
        }

        .counter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 4px;
            background: #F2F3F5;
            border-radius: 8px;
            margin-bottom: 24px;
    
            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 4px;
                background: rgba(43, 88, 250, 0.12);
                user-select: none;
                font-weight: 800;
                font-size: 36px;
                line-height: 24px;
                text-align: center;
                padding-bottom: 7px;
                color: #4269F5;
            }
    
            &__input {
                display: inline;
                //flex-flow: row nowrap;
                //font-size: 16px;
                //line-height: 26px;
                //text-align: center;
                //color: $black-text;

                input {
                    width: auto;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                    color: $black-text;
                    text-align: end;
                    background: #F2F3F5;
                    border: none;
                }
            }
        }

        &__price {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            border: 1px solid #EFEFEF;
            border-radius: 8px;
            padding: 19px;
            margin-bottom: 24px;
        }

        &__quantity {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            width: 194px;

            &:nth-child(2) {

                &::before {
                    position: absolute;
                    top: 0;
                    left: -17px;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 60px;
                    background: #EFEFEF;
                }
            }
        }

        &__quantity-name {
            font-size: 14px;
            line-height: 22px;
            color: #898D96;
            margin-bottom: 4px;
        }

        &__quantity-result {
            font-weight: 800;
            font-size: 24px;
            line-height: 142%;
            color: $black-text;
        }

        &__buttons {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &__button-continue {
            display: block;
            width: 222px;
            padding: 12px 10px;
            border: none;
            border-radius: 8px;
            background: #F2F3F5;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $black-text;
        }

        &__button-add {
            display: block;
            width: 222px;
            padding: 16px 10px;
            border: none;
            border-radius: 8px;
            background: rgba(66, 105, 245, 1);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $white;
        }

        &__name-field,
        &__phone-field {
            width: 100%;
            padding: 11px 20px;
            background: #f2f3f5;
            border: 0;
            border-radius: 8px;
            resize: none;
            font-size: 16px;
            line-height: 26px;
            color: rgba(137, 141, 150, 1);

            &:hover {
                box-shadow:0px 1px 0px #898d9661,0px -1px 0px #898d9661,1px 0px 0px #898d9661,-1px 0px 0px #898d9661;
            }
        }

        &__name-field {
            margin-bottom: 13px;
        }

        &__phone-field {
            margin-bottom: 23px;
        }

        &__privacy {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            margin-bottom: 27px;
        }
    
        &__checkbox {
            margin-right: 20px;
        }
    
        &__privacy-text {
            font-size: 14px;
            line-height: 22px;
        }
    
        &__link {
            font-size: 14px;
            line-height: 22px;
            text-decoration: underline;
            color: #4269F5;
        }
    }
}