.header {
    overflow: hidden;

    &__contacts-wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    &__dashboard {
        display: flex;
        flex-flow: row nowrap;
    }

    &__search-pannel {
        display: flex;
        flex-flow: row nowrap;
    }

    &__navigation {
        display: flex;
        flex-flow: row nowrap;
    }
}

@media (max-width: $tablet-width) {
}