.catalog {
    overflow: hidden;
    margin-bottom: 80px;

    &__link-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 39px;
    }

    &__link {
        position: relative;
        font-size: 14px;
        line-height: 22px;
        color: $black-text;
        padding-right: 40px;
        margin-right: 13px;

        &::before {
            position: absolute;
            top: 9px;
            right: 9px;
            content: "";
            display: block;
            width: 6px;
            height: 1px;
            background: #000;
            background-repeat: no-repeat;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            top: 13px;
            right: 9px;
            content: "";
            display: block;
            width: 6px;
            height: 1px;
            background: #000;
            background-repeat: no-repeat;
            transform: rotate(135deg);
        }
    }

    &__active-page {
        font-size: 14px;
        line-height: 22px;
        color: #A6A6A8;
    }

    &__title {
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        color: $black-text;
        margin-bottom: 30px;
    }
}