.stock {
    overflow: hidden;
    margin-bottom: 40px;

    &__wrapper {
        padding-bottom: 78px;
        @include border-bottom;
    }

    &__title {
        font-weight: 800;
        font-size: 28px;
        line-height: 36px;
        color: $black-text;
        margin-bottom: 20px;
    }

    &__available-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__available-item {

    }

    .card {
        overflow: hidden;
        width: 360px;
        border-radius: 20px;
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08);
    
        &__image {
            position: relative;
            overflow:hidden;
            width: 100%;
            height: 240px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #EFEFEF;
            
    
            img {
                display: block;
                transition: 0.5s;
    
                &:hover {
                    transform: scale(1.7);
                }
            }
            
        }
    
        &__link-wrapper {
            position: absolute;
            top: 24px;
            left: 25px;
            display: flex;
            flex-flow: row nowrap;
        }
    
        &__best-sell {
            display: block;
            padding: 4px 12px;
            background: #66DBBD;
            border-radius: 8px;
            font-size: 14px;
            line-height: 22px;
            color: $white;
            margin-right: 10px;
            cursor: default;
        }
    
        &__info {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            padding: 24px;
        }
    
        &__available-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            margin-bottom: 10px;
        }
    
        &__available {
            position: relative;
            display: block;
            padding: 5px 10px 5px 27px;
            background: #EFEFEF;
            border-radius: 8px;
            font-size: 14px;
            line-height: 22px;
            color: $gray-text;
            margin-right: 10px;
            cursor: default;
    
            &::before {
                position: absolute;
                top: 10px;
                left: 11px;
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background: #13ae5c;
                border-radius: 50%;
            }
        }
    
        &__quantity {
            display: block;
            padding: 5px 10px;
            background: #EFEFEF;
            border-radius: 8px;
            font-size: 14px;
            line-height: 22px;
            color: $gray-text;
            cursor: default;
        }
    
        &__text-block {
            margin-bottom: 0;
        }
    
        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 16px;
            line-height: 26px;
            color: $black-text;
            margin-bottom: 13px;
            height: 78px;
            overflow: hidden;
        }
    
        &__price {
            font-size: 14px;
            line-height: 22px;
            color: #898D96;
    
            span {
                font-weight: 800;
                font-size: 20px;
                line-height: 28px;
                color: $black-text;
            }
        }
    }
}